<%- model_class = Incidence.new.class -%>
<div class="page-header">
  <h1>Incidencias</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:hora) %></th>
      <th><%= model_class.human_attribute_name(:tipo_incidente_apertura) %></th>
      <th><%= model_class.human_attribute_name(:tipo_incidente_proceso) %></th>
      <th><%= model_class.human_attribute_name(:tipo_incidente_cierre) %></th>
      <th><%= model_class.human_attribute_name(:tipo_incidente_otro) %></th>
      <th><%= model_class.human_attribute_name(:box_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @incidences.each do |incidence| %>
      <tr>
        <td><%= link_to incidence.id, incidence_path(incidence) %></td>
        <td><%= incidence.hora %></td>
        <td><%= incidence.tipo_incidente_apertura %></td>
        <td><%= incidence.tipo_incidente_proceso %></td>
        <td><%= incidence.tipo_incidente_cierre %></td>
        <td><%= incidence.tipo_incidente_otro %></td>
        <td><%= incidence.box_id %></td>
        <td><%=l incidence.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_incidence_path(incidence), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      incidence_path(incidence),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_incidence_path,
            :class => 'btn btn-primary' %>
