<h2>Cambiar tu contrase単a</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div>Nueva contrase単a<br />
  <%= f.password_field :password %></div>

  <div>Confirmar nueva contrase単a<br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Cambiar contrase単a" %></div>
<% end %>

<%= render "links" %>