<%= form_for @box, :html => { :class => 'table table-bordered table-striped' } do |f| %>
<!-- Grupo uno -->
<div class="well">
	<br/>
  <div class="control-group">
    <p class="control-label">Casilla</p>
    <div class="controls">
      
<%= f.text_field :casilla, :class => 'span1' %>
	 Sección
	 <%= f.text_field :seccion, :class => 'span1' %>	
	 Hora de Apertura
	<%= f.date_select :hora_apertura, :class => 'date_select' %>
	Hora de Cierre
	<%= f.date_select :hora_cierre, :class => 'date_select' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :municipio, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :municipio, :class => 'text_field' %>
    </div>
  </div>
</div>
<!-- Termina Grupo uno -->

<div class="well">
<!-- Grupo Dos -->
  <div class="control-group">
    <p class="control-label">Incidente</p>
    <div class="controls">
      <%= f.text_field :id_incidente, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <p class="control-label">Representante de Casilla Uno</p>
    <div class="controls">
      <%= f.text_field :rc_uno, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <p class="control-label">Representante de Casilla Dos</p>
    <div class="controls">
      <%= f.text_field :rc_dos, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <p class="control-label">Representante de Casilla Tres</p>
    <div class="controls">
      <%= f.text_field :rc_tres, :class => 'text_field' %>
    </div>
  </div>
<!-- Termina Grupo Dos -->
</div>
<!-- Acta para Presidente -->

<div class="well">
	<br/>
<h3>Votos para Presidente</h3>
<br/>
  <div class="control-group">
    <p class="control-label">P.A.N</p>
    <div class="controls">
      <%= f.text_field :pre_pan, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <p class="control-label">P.R.I</p>
    <div class="controls">
      <%= f.text_field :pre_pri, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <p class="control-label">P.R.D</p>
    <div class="controls">
      <%= f.text_field :pre_prd, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <p class="control-label">Partido Verde</p>
    <div class="controls">
      <%= f.text_field :pre_verde, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
     <p class="control-label">P.T</p>
    <div class="controls">
      <%= f.text_field :pre_pt, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <p class="control-label">Partido Movimiento Ciudadano</p>
    <div class="controls">
      <%= f.text_field :pre_movimiento, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <p class="control-label">Partido Nueva Alianza</p>
    <div class="controls">
      <%= f.text_field :pre_nueva_alinza, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <p class="control-label">Coalición Uno</p>
    <div class="controls">
      <%= f.text_field :pre_coalicion_uno, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <p class="control-label">Coalición Dos</p>
    <div class="controls">
      <%= f.text_field :pre_coalicion_dos, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <p class="control-label">Coalición Tres</p>
    <div class="controls">
      <%= f.text_field :pre_coalicion_tres, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <p class="control-label">Coalición Cuatro</p>
    <div class="controls">
      <%= f.text_field :pre_coalicion_cuatro, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <p class="control-label">Coalición Cinco</p>
    <div class="controls">
      <%= f.text_field :pre_coalicion_cinco, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <p class="control-label">Candidatos No Registrados</p>
    <div class="controls">
      <%= f.text_field :pre_candidatos_no_registrado, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <p class="control-label">Votos Nulos</p>
    <div class="controls">
      <%= f.text_field :pre_votos_nulos, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <h3>Total Presidente</h3>
    <div class="controls">
      <%= f.text_field :pre_total, :class => 'text_field' %>
    </div>
  </div>
</div>
<!-- Termina Acta para Presidente -->

<!-- Acta para Diputado Federal -->
<div class="well">
	<br/>
	<h3>Diputado Federal</h3>
	<br/>
  <div class="control-group">
        <p class="control-label">Diputado PAN</p>
    <div class="controls">
      <%= f.text_field :diputado_federal_pan, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
        <p class="control-label">Diputado PRI</p>
    <div class="controls">
      <%= f.text_field :diputado_federal_pri, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
        <p class="control-label">Diputado PRD</p>
    <div class="controls">
      <%= f.text_field :diputado_federal_prd, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :diputado_federal_verde, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :diputado_federal_verde, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
        <p class="control-label">Diputado PT</p>
    <div class="controls">
      <%= f.text_field :diputado_federal_pt, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
        <p class="control-label">Diputado Movimiento Ciudadano</p>
    <div class="controls">
      <%= f.text_field :diputado_federal_movimiento, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
        <p class="control-label">Diputado Nueva Alianza</p>
    <div class="controls">
      <%= f.text_field :diputado_federal_nueva_alianza, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
        <p class="control-label">Diputado Coalición Uno</p>
    <div class="controls">
      <%= f.text_field :diputado_federal_coalicion_uno, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
        <p class="control-label">Diputado Coalición Dos</p>
    <div class="controls">
      <%= f.text_field :diputado_federal_coalicion_dos, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
        <p class="control-label">Diputado Coalición Tres</p>
    <div class="controls">
      <%= f.text_field :diputado_federal_coalicion_tres, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
        <p class="control-label">Diputado Coalición Cuatro</p>
    <div class="controls">
      <%= f.text_field :diputado_federal_coalicion_cuatro, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
        <p class="control-label">Diputado Coalición Cinco</p>
    <div class="controls">
      <%= f.text_field :diputado_federal_coalicion_cinco, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
        <p class="control-label">Diputado Federal Candidatos No Registrados</p>
    <div class="controls">
      <%= f.text_field :diputado_federal_no_registrado, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
        <p class="control-label">Diputado Federal Votos Nulos</p>
    <div class="controls">
      <%= f.text_field :diputado_federal_votos_nulos, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <h3>Total Diputados Federales</h3>
    <div class="controls">
      <%= f.text_field :diputado_federal_total, :class => 'text_field' %>
    </div>
  </div>
</div>
<!-- Termina Acta para Diputado Federal -->

<!-- Acta para Gobernador -->
<div class="well">
	<br/>
		<h3>Gobernador</h3>
		<br/>
  <div class="control-group">
      <p class="control-label">PAN</p>
    <div class="controls">
      <%= f.text_field :gob_pan, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
      <p class="control-label">PRI</p>
    <div class="controls">
      <%= f.text_field :gob_pri, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
      <p class="control-label">PRD</p>
    <div class="controls">
      <%= f.text_field :gob_prd, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
      <p class="control-label">Partido Verde</p>
    <div class="controls">
      <%= f.text_field :gob_verde, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
      <p class="control-label">PT</p>
    <div class="controls">
      <%= f.text_field :gob_pt, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
      <p class="control-label">Partido Movimiento Ciudadano</p>
    <div class="controls">
      <%= f.text_field :gob_movimiento, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
      <p class="control-label">Partido Nueva Alianza</p>
    <div class="controls">
      <%= f.text_field :gob_nueva_alianza, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
      <p class="control-label">Coalición Uno</p>
    <div class="controls">
      <%= f.text_field :gob_coalicion_uno, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
      <p class="control-label">Coalición Dos</p>
    <div class="controls">
      <%= f.text_field :gob_coalicion_dos, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
      <p class="control-label">Candidatos NO Registrados</p>
    <div class="controls">
      <%= f.text_field :gob_candidatos_no_registrado, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
      <p class="control-label">Votos Nulos</p>
    <div class="controls">
      <%= f.text_field :gob_votos_nulos, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <h3>Total de Votos Gobernador</h3>
    <div class="controls">
      <%= f.text_field :gob_total, :class => 'text_field' %>
    </div>
  </div>
</div>
<!-- Termina Acta para Gobernador -->


  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                boxes_path, :class => 'btn' %>
  </div>
<% end %>
