<%= form_for @box, :html => { :class => 'table' } do |f| %>
<!-- Grupo uno -->
<div class="well">
	<br/>
  <div class="control-group">
    <p class="control-label">Casilla</p>
    <div class="controls">
      
<%= f.text_field :casilla, :class => 'span1' %>
	 Sección
	 <%= f.text_field :seccion, :class => 'span1' %>	
    </div>
  </div>
<% if current_user.role == "admin" %>
  <div class="control-group">
    <p class="control-label">Usuario</p>
    <div class="controls">
        <%= f.collection_select :user_id, User.all, :id, :email %>
    </div>
  </div>
<% end %>

  <div class="control-group">
    <p class="control-label">Hora de Apertura</p>
    <div class="controls">
      <%= f.datetime_select :hora_apertura, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <p class="control-label">Hora de Cierre</p>
    <div class="controls">
      <%= f.datetime_select :hora_cierre, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :direccion, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :direccion, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :municipio, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :municipio, :class => 'text_field' %>
    </div>
  </div>
</div>
<!-- Termina Grupo uno -->

<!-- Acta para Presidente -->
<table>
  <thead>
    <tr>
      <th>Votos para</th>
      <th>PAN</th>
      <th>PRI</th>
      <th>PRD</th>
      <th>PARTIDO VERDE</th>
      <th>PT</th>
      <th>Movimiento Ciudadano</th>
      <th>Nueva Alianza</th>
      <th>Coalición Uno</th>
      <th>Coalición Dos</th>
      <th>Coalición Tres</th>
      <th>Coalición Cuatro</th>
      <th>Coalición Cinco</th>
      <th>Coalición No Registrados</th>
      <th>Votos Nulos</th>
      <th>Total Presidente</th>
    </tr>
  </thead>
  <tbody>
    <tr>
	  <td>Para presidente</td>	
      <td><%= f.text_field :pre_pan, :class => 'span1' %></td>
      <td><%= f.text_field :pre_pri, :class => 'span1' %></td>
      <td><%= f.text_field :pre_prd, :class => 'span1' %></td>
      <td><%= f.text_field :pre_verde, :class => 'span1' %></td>
      <td><%= f.text_field :pre_pt, :class => 'span1' %></td>
      <td><%= f.text_field :pre_movimiento, :class => 'span1' %></td>
      <td> <%= f.text_field :pre_nueva_alinza, :class => 'span1' %></td>
      <td><%= f.text_field :pre_coalicion_uno, :class => 'span1' %></td>
      <td><%= f.text_field :pre_coalicion_dos, :class => 'span1' %></td>
      <td><%= f.text_field :pre_coalicion_tres, :class => 'span1' %></td>
      <td><%= f.text_field :pre_coalicion_cuatro, :class => 'span1' %></td>
      <td><%= f.text_field :pre_coalicion_cinco, :class => 'span1' %></td>
	<td><%= f.text_field :pre_candidatos_no_registrado, :class => 'span1' %></td>
   <td><%= f.text_field :pre_votos_nulos, :class => 'span1' %></td>
   <td><%= f.text_field :pre_total, :class => 'span1' %></td>
    </tr>
  </tbody>
<tbody>
    <tr>
	  <td>Para Diputado Federal</td>	
      <td><%= f.text_field :diputado_federal_pan, :class => 'span1' %></td>
      <td><%= f.text_field :diputado_federal_pri, :class => 'span1' %></td>
      <td><%= f.text_field :diputado_federal_prd, :class => 'span1' %></td>
      <td><%= f.text_field :diputado_federal_verde, :class => 'span1' %></td>
      <td><%= f.text_field :diputado_federal_pt, :class => 'span1' %></td>
      <td><%= f.text_field :diputado_federal_movimiento, :class => 'span1' %></td>
      <td> <%= f.text_field :diputado_federal_nueva_alianza, :class => 'span1' %></td>
      <td><%= f.text_field :diputado_federal_coalicion_uno, :class => 'span1' %></td>
      <td><%= f.text_field :diputado_federal_coalicion_tres, :class => 'span1' %></td>
      <td><%= f.text_field :diputado_federal_coalicion_tres, :class => 'span1' %></td>
      <td><%= f.text_field :diputado_federal_coalicion_cuatro, :class => 'span1' %></td>
      <td><%= f.text_field :diputado_federal_coalicion_cinco, :class => 'span1' %></td>
	<td><%= f.text_field :diputado_federal_no_registrado, :class => 'span1' %></td>
   <td><%= f.text_field :diputado_federal_votos_nulos, :class => 'span1' %></td>
   <td><%= f.text_field :diputado_federal_total, :class => 'span1' %></td>
    </tr>
  </tbody>


<table>
  <thead>
    <tr>
      <th>Votos para</th>
      <th>PAN</th>
      <th>PRI</th>
      <th>PRD</th>
      <th>PARTIDO VERDE</th>
      <th>PT</th>
      <th>Movimiento Ciudadano</th>
      <th>Nueva Alianza</th>
      <th>Coalición Uno</th>
      <th>Coalición Dos</th>
      <th>Candidatos No registrados</th>
      <th>Votos Nulos</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
	  <td>Gobernador</td>	
      <td><%= f.text_field :gob_pan, :class => 'span1' %></td>
      <td><%= f.text_field :gob_pri, :class => 'span1' %></td>
      <td><%= f.text_field :gob_prd, :class => 'span1' %></td>
      <td><%= f.text_field :gob_verde, :class => 'span1' %></td>
      <td><%= f.text_field :gob_pt, :class => 'span1' %></td>
      <td><%= f.text_field :gob_movimiento, :class => 'span1' %></td>
      <td> <%= f.text_field :gob_nueva_alianza, :class => 'span1' %></td>
      <td><%= f.text_field :gob_coalicion_uno, :class => 'span1' %></td>
      <td><%= f.text_field :gob_coalicion_dos, :class => 'span1' %></td>
      <td><%= f.text_field :gob_candidatos_no_registrado, :class => 'span1' %></td>
      <td><%= f.text_field :gob_votos_nulos, :class => 'span1' %></td>
      <td><%= f.text_field :gob_total, :class => 'span1' %></td>
    </tr>
  </tbody>
</table>

<div class="clear"></div>
<table>
  <thead>
    <tr>
      <th>Votos para</th>
      <th>PAN</th>
      <th>PRI</th>
      <th>PRD</th>
      <th>PARTIDO VERDE</th>
      <th>PT</th>
      <th>Movimiento Ciudadano</th>
      <th>Nueva Alianza</th>
      <th>Coalición Uno</th>
      <th>Votos Nulos</th>
    </tr>
  </thead>
  <tbody>
    <tr>
	  <td>Diputados Locales</td>	
      <td><%= f.text_field :diputado_local_pan, :class => 'span1' %></td>
      <td><%= f.text_field :diputado_local_pri, :class => 'span1' %></td>
      <td><%= f.text_field :diputado_local_prd, :class => 'span1' %></td>
      <td><%= f.text_field :diputado_local_pt, :class => 'span1' %></td>
      <td><%= f.text_field :diputado_local_pvem, :class => 'span1' %></td>
      <td><%= f.text_field :diputado_local_movimiento, :class => 'span1' %></td>
      <td> <%= f.text_field :diputado_local_nueva_alianza, :class => 'span1' %></td>
      <td><%= f.text_field :diputado_local_coalicion_uno, :class => 'span1' %></td>
      <td><%= f.text_field :diputado_local_votos_nulos, :class => 'span1' %></td>
    </tr>
  </tbody>
</table>

<div class="clear"></div>
	
<br>
<table>
  <thead>
    <tr>
      <th>Votos para</th>
      <th>PAN</th>
      <th>PRI</th>
      <th>PRD</th>
      <th>PARTIDO VERDE</th>
      <th>PT</th>
      <th>Movimiento Ciudadano</th>
      <th>Nueva Alianza</th>
      <th>Coalición Uno</th>
      <th>Coalición Dos</th>
      <th>Votos Nulos</th>
    </tr>
  </thead>
  <tbody>
    <tr>
	  <td>Alcaldes</td>	
      <td><%= f.text_field :alcalde_pan, :class => 'span1' %></td>
      <td><%= f.text_field :alcalde_pri, :class => 'span1' %></td>
      <td><%= f.text_field :alcalde_prd, :class => 'span1' %></td>
      <td><%= f.text_field :alcalde_pt, :class => 'span1' %></td>
      <td><%= f.text_field :alcalde_pvem, :class => 'span1' %></td>
      <td><%= f.text_field :alcalde_movimiento, :class => 'span1' %></td>
      <td> <%= f.text_field :alcalde_nueva_alianza, :class => 'span1' %></td>
      <td><%= f.text_field :alcalde_coalicion_uno, :class => 'span1' %></td>
      <td><%= f.text_field :alcalde_coalicion_dos, :class => 'span1' %></td>
      <td><%= f.text_field :alcalde_votos_nulos, :class => 'span1' %></td>
    </tr>
  </tbody>
</table>





  <div class="form-actions">
    <%= f.submit "Guardar", :class => 'btn btn-primary' %>
    <%= link_to "Cancelar",
                boxes_path, :class => 'btn' %>
  </div>
<% end %>
