<%- model_class = @box.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:casilla) %>:</strong></dt>
  <dd><%= @box.casilla %></dd>
  <dt><strong><%= model_class.human_attribute_name(:seccion) %>:</strong></dt>
  <dd><%= @box.seccion %></dd>
  <dt><strong><%= model_class.human_attribute_name(:hora_apertura) %>:</strong></dt>
  <dd><%= @box.hora_apertura %></dd>
  <dt><strong><%= model_class.human_attribute_name(:hora_cierre) %>:</strong></dt>
  <dd><%= @box.hora_cierre %></dd>
  <dt><strong><%= model_class.human_attribute_name(:direccion) %>:</strong></dt>
  <dd><%= @box.direccion %></dd>
  <dt><strong><%= model_class.human_attribute_name(:municipio) %>:</strong></dt>
  <dd><%= @box.municipio %></dd>
  <dt><strong><%= model_class.human_attribute_name(:id_incidente) %>:</strong></dt>
  <dd><%= @box.id_incidente %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rc_uno) %>:</strong></dt>
  <dd><%= @box.rc_uno %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rc_dos) %>:</strong></dt>
  <dd><%= @box.rc_dos %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rc_tres) %>:</strong></dt>
  <dd><%= @box.rc_tres %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pre_pan) %>:</strong></dt>
  <dd><%= @box.pre_pan %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pre_pri) %>:</strong></dt>
  <dd><%= @box.pre_pri %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pre_prd) %>:</strong></dt>
  <dd><%= @box.pre_prd %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pre_verde) %>:</strong></dt>
  <dd><%= @box.pre_verde %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pre_pt) %>:</strong></dt>
  <dd><%= @box.pre_pt %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pre_movimiento) %>:</strong></dt>
  <dd><%= @box.pre_movimiento %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pre_nueva_alinza) %>:</strong></dt>
  <dd><%= @box.pre_nueva_alinza %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pre_coalicion_uno) %>:</strong></dt>
  <dd><%= @box.pre_coalicion_uno %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pre_coalicion_dos) %>:</strong></dt>
  <dd><%= @box.pre_coalicion_dos %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pre_coalicion_tres) %>:</strong></dt>
  <dd><%= @box.pre_coalicion_tres %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pre_coalicion_cuatro) %>:</strong></dt>
  <dd><%= @box.pre_coalicion_cuatro %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pre_coalicion_cinco) %>:</strong></dt>
  <dd><%= @box.pre_coalicion_cinco %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pre_candidatos_no_registrado) %>:</strong></dt>
  <dd><%= @box.pre_candidatos_no_registrado %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pre_votos_nulos) %>:</strong></dt>
  <dd><%= @box.pre_votos_nulos %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pre_total) %>:</strong></dt>
  <dd><%= @box.pre_total %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gob_pan) %>:</strong></dt>
  <dd><%= @box.gob_pan %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gob_pri) %>:</strong></dt>
  <dd><%= @box.gob_pri %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gob_prd) %>:</strong></dt>
  <dd><%= @box.gob_prd %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gob_verde) %>:</strong></dt>
  <dd><%= @box.gob_verde %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gob_pt) %>:</strong></dt>
  <dd><%= @box.gob_pt %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gob_movimiento) %>:</strong></dt>
  <dd><%= @box.gob_movimiento %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gob_nueva_alianza) %>:</strong></dt>
  <dd><%= @box.gob_nueva_alianza %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gob_coalicion_uno) %>:</strong></dt>
  <dd><%= @box.gob_coalicion_uno %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gob_coalicion_dos) %>:</strong></dt>
  <dd><%= @box.gob_coalicion_dos %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gob_coalicion_tres) %>:</strong></dt>
  <dd><%= @box.gob_coalicion_tres %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gob_coalicion_cuatro) %>:</strong></dt>
  <dd><%= @box.gob_coalicion_cuatro %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gob_coalicion_cinco) %>:</strong></dt>
  <dd><%= @box.gob_coalicion_cinco %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gob_candidatos_no_registrado) %>:</strong></dt>
  <dd><%= @box.gob_candidatos_no_registrado %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gob_votos_nulos) %>:</strong></dt>
  <dd><%= @box.gob_votos_nulos %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gob_total) %>:</strong></dt>
  <dd><%= @box.gob_total %></dd>
  <dt><strong><%= model_class.human_attribute_name(:diputado_federal_pan) %>:</strong></dt>
  <dd><%= @box.diputado_federal_pan %></dd>
  <dt><strong><%= model_class.human_attribute_name(:diputado_federal_pri) %>:</strong></dt>
  <dd><%= @box.diputado_federal_pri %></dd>
  <dt><strong><%= model_class.human_attribute_name(:diputado_federal_prd) %>:</strong></dt>
  <dd><%= @box.diputado_federal_prd %></dd>
  <dt><strong><%= model_class.human_attribute_name(:diputado_federal_verde) %>:</strong></dt>
  <dd><%= @box.diputado_federal_verde %></dd>
  <dt><strong><%= model_class.human_attribute_name(:diputado_federal_pt) %>:</strong></dt>
  <dd><%= @box.diputado_federal_pt %></dd>
  <dt><strong><%= model_class.human_attribute_name(:diputado_federal_movimiento) %>:</strong></dt>
  <dd><%= @box.diputado_federal_movimiento %></dd>
  <dt><strong><%= model_class.human_attribute_name(:diputado_federal_nueva_alianza) %>:</strong></dt>
  <dd><%= @box.diputado_federal_nueva_alianza %></dd>
  <dt><strong><%= model_class.human_attribute_name(:diputado_federal_coalicion_uno) %>:</strong></dt>
  <dd><%= @box.diputado_federal_coalicion_uno %></dd>
  <dt><strong><%= model_class.human_attribute_name(:diputado_federal_coalicion_dos) %>:</strong></dt>
  <dd><%= @box.diputado_federal_coalicion_dos %></dd>
  <dt><strong><%= model_class.human_attribute_name(:diputado_federal_coalicion_tres) %>:</strong></dt>
  <dd><%= @box.diputado_federal_coalicion_tres %></dd>
  <dt><strong><%= model_class.human_attribute_name(:diputado_federal_coalicion_cuatro) %>:</strong></dt>
  <dd><%= @box.diputado_federal_coalicion_cuatro %></dd>
  <dt><strong><%= model_class.human_attribute_name(:diputado_federal_coalicion_cinco) %>:</strong></dt>
  <dd><%= @box.diputado_federal_coalicion_cinco %></dd>
  <dt><strong><%= model_class.human_attribute_name(:diputado_federal_no_registrado) %>:</strong></dt>
  <dd><%= @box.diputado_federal_no_registrado %></dd>
  <dt><strong><%= model_class.human_attribute_name(:diputado_federal_votos_nulos) %>:</strong></dt>
  <dd><%= @box.diputado_federal_votos_nulos %></dd>
  <dt><strong><%= model_class.human_attribute_name(:diputado_federal_total) %>:</strong></dt>
  <dd><%= @box.diputado_federal_total %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              boxes_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_box_path(@box), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              box_path(@box),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
