<p id="notice"><%= notice %></p>

<p>
  <b>Municipio:</b>
  <%= @bunker.municipio %>
</p>

<p>
  <b>En operacion:</b>
  <%= @bunker.en_operacion %>
</p>

<p>
  <b>En ruta:</b>
  <%= @bunker.en_ruta %>
</p>

<p>
  <b>Nombre:</b>
  <%= @bunker.nombre %>
</p>

<p>
  <b>Casilla uno:</b>
  <%= @bunker.casilla_uno %>
</p>

<p>
  <b>Casilla dos:</b>
  <%= @bunker.casilla_dos %>
</p>

<p>
  <b>Casilla tres:</b>
  <%= @bunker.casilla_tres %>
</p>

<p>
  <b>Casilla cuatro:</b>
  <%= @bunker.casilla_cuatro %>
</p>

<p>
  <b>Casilla cinco:</b>
  <%= @bunker.casilla_cinco %>
</p>

<p>
  <b>Casilla seis:</b>
  <%= @bunker.casilla_seis %>
</p>

<p>
  <b>Casilla siete:</b>
  <%= @bunker.casilla_siete %>
</p>

<p>
  <b>Casilla ocho:</b>
  <%= @bunker.casilla_ocho %>
</p>

<p>
  <b>Casilla nueve:</b>
  <%= @bunker.casilla_nueve %>
</p>

<p>
  <b>Casilla diez:</b>
  <%= @bunker.casilla_diez %>
</p>

<p>
  <b>Box:</b>
  <%= @bunker.box_id %>
</p>


<%= link_to 'Edit', edit_bunker_path(@bunker) %> |
<%= link_to 'Back', bunkers_path %>
