<div class="page-header">
<h1>Estructura Familiar</h1>
</div>

<%= form_for @poll,  url: wizard_path do |f| %> 

<div class="control-group">
 1. Nombre
  <div class="controls">
    <%= f.text_field :nombre_uno, :class => 'text_field' %>
Tipo Familiar
	<%= f.select :tipo_uno, [["Ninguna", "1"], ["Padre", "2"], ["Madre", "3"], ["Hijo", "4"], ["Hija", "5"],  ["Abuela", "6"], ["Abuelo", "7"], ["Nieto", "8"],["Nieta", "9"],["Nuero", "10"], ["Nuera", "11"], ["Yerno", "12"], ["Sobrino", "13"], ["Sobrina", "14"],["Otro", "14"]], :class => 'number_field' %>
Edad
	<%= f.text_field :edad_uno, :class => 'text_field' %>
  </div>
</div>

<div class="control-group">
2. Nombre
  <div class="controls">
    <%= f.text_field :nombre_dos, :class => 'text_field' %>
Tipo Familiar
    <%= f.select :tipo_dos,[["Ninguna", "1"], ["Padre", "2"], ["Madre", "3"], ["Hijo", "4"], ["Hija", "5"],  ["Abuela", "6"], ["Abuelo", "7"], ["Nieto", "8"],["Nieta", "9"],["Nuero", "10"], ["Nuera", "11"], ["Yerno", "12"], ["Sobrino", "13"], ["Sobrina", "14"],["Otro", "14"]], :class => 'number_field' %>
Edad 
    <%= f.text_field :edad_dos, :class => 'text_field' %>
  </div>
</div>

<div class="control-group">
3. Nombre
  <div class="controls">
    <%= f.text_field :nombre_tres, :class => 'text_field' %>
Edad
    <%= f.number_field :edad_tres, :class => 'text_field' %>

  </div>
</div>

<div class="control-group">
4. Nombre
  <div class="controls">	
    <%= f.text_field :nombre_cuatro, :class => 'text_field' %>
Tipo Familiar
    <%= f.select :tipo_cuatro, [["Ninguna", "1"], ["Padre", "2"], ["Madre", "3"], ["Hijo", "4"], ["Hija", "5"],  ["Abuela", "6"], ["Abuelo", "7"], ["Nieto", "8"],["Nieta", "9"],["Nuero", "10"], ["Nuera", "11"], ["Yerno", "12"], ["Sobrino", "13"], ["Sobrina", "14"],["Otro", "14"]], :class => 'number_field' %>
Edad
    <%= f.text_field :edad_cuatro, :class => 'number_field' %>
  </div>
</div>



<div class="control-group">
5. Nombre
  <div class="controls">
    <%= f.text_field :nombre_cinco, :class => 'text_field' %>
Tipo Familiar
    <%= f.select :tipo_cinco, [["Ninguna", "1"], ["Padre", "2"], ["Madre", "3"], ["Hijo", "4"], ["Hija", "5"],  ["Abuela", "6"], ["Abuelo", "7"], ["Nieto", "8"],["Nieta", "9"],["Nuero", "10"], ["Nuera", "11"], ["Yerno", "12"], ["Sobrino", "13"], ["Sobrina", "14"],["Otro", "14"]], :class => 'number_field' %>
Edad
    <%= f.text_field :edad_cinco, :class => 'number_field' %>
  </div>
</div>

<div class="control-group">
6. Nombre
  <div class="controls">
    <%= f.text_field :nombre_seis, :class => 'text_field' %>
Tipo Familiar
    <%= f.select :tipo_seis, [["Ninguna", "1"], ["Padre", "2"], ["Madre", "3"], ["Hijo", "4"], ["Hija", "5"],  ["Abuela", "6"], ["Abuelo", "7"], ["Nieto", "8"],["Nieta", "9"],["Nuero", "10"], ["Nuera", "11"], ["Yerno", "12"], ["Sobrino", "13"], ["Sobrina", "14"],["Otro", "14"]], :class => 'number_field' %>
Edad
    <%= f.text_field :edad_seis, :class => 'number_field' %>
  </div>
</div>

<div class="control-group">
7. Nombre
  <div class="controls">
    <%= f.text_field :nombre_siete, :class => 'text_field' %>
Tipo Familiar
    <%= f.select :tipo_siete, [["Ninguna", "1"], ["Padre", "2"], ["Madre", "3"], ["Hijo", "4"], ["Hija", "5"],  ["Abuela", "6"], ["Abuelo", "7"], ["Nieto", "8"],["Nieta", "9"],["Nuero", "10"], ["Nuera", "11"], ["Yerno", "12"], ["Sobrino", "13"], ["Sobrina", "14"],["Otro", "14"]], :class => 'number_field' %>
Edad
    <%= f.text_field :edad_siete, :class => 'number_field' %>

  </div>
</div>

<div class="control-group">
8. Nombre
  <div class="controls">
    <%= f.text_field :nombre_ocho, :class => 'text_field' %>
Tipo Familiar
    <%= f.select :tipo_ocho, [["Ninguna", "1"], ["Padre", "2"], ["Madre", "3"], ["Hijo", "4"], ["Hija", "5"],  ["Abuela", "6"], ["Abuelo", "7"], ["Nieto", "8"],["Nieta", "9"],["Nuero", "10"], ["Nuera", "11"], ["Yerno", "12"], ["Sobrino", "13"], ["Sobrina", "14"],["Otro", "14"]], :class => 'number_field' %>
Edad
    <%= f.text_field :edad_ocho, :class => 'number_field' %>
  </div>
</div>

<div class="control-group">
9. Nombre
  <div class="controls">
    <%= f.text_field :nombre_nueve, :class => 'text_field' %>
Tipo Familiar
    <%= f.select :tipo_nueve,[["Ninguna", "1"], ["Padre", "2"], ["Madre", "3"], ["Hijo", "4"], ["Hija", "5"],  ["Abuela", "6"], ["Abuelo", "7"], ["Nieto", "8"],["Nieta", "9"],["Nuero", "10"], ["Nuera", "11"], ["Yerno", "12"], ["Sobrino", "13"], ["Sobrina", "14"],["Otro", "14"]], :class => 'text_field' %>
Edad
    <%= f.text_field :edad_nueve, :class => 'number_field' %>
  </div>
</div>

<div class="control-group">
10. Nombre
  <div class="controls">
    <%= f.text_field :nombre_diez, :class => 'text_field' %>
Tipo Familiar
	<%= f.select :tipo_diez, [["Ninguna", "1"], ["Padre", "2"], ["Madre", "3"], ["Hijo", "4"], ["Hija", "5"],  ["Abuela", "6"], ["Abuelo", "7"], ["Nieto", "8"],["Nieta", "9"],["Nuero", "10"], ["Nuera", "11"], ["Yerno", "12"], ["Sobrino", "13"], ["Sobrina", "14"],["Otro", "14"]],:class => 'number_field' %>
Edad	
	<%= f.text_field :edad_diez, :class => 'number_field' %>
  </div>
</div>

<div class="form-actions">
   <%= f.submit nil, :class => 'btn btn-primary' %>
   <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
               polls_path, :class => 'btn' %>
 </div>


<% end %>