<%= form_for @poll, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :paterno, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :paterno, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :materno, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :materno, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :nombre, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :telefono, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :telefono, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :correo, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :correo, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :domicilio, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :domicilio, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :estudio, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :estudio, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :rol, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :rol, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :profesion, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :profesion, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :nombre_uno, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre_uno, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tipo_uno, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :tipo_uno, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :edad_uno, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :edad_uno, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :nombre_dos, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre_dos, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tipo_dos, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :tipo_dos, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :edad_dos, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :edad_dos, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :nombre_tres, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre_tres, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :edad_tres, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :edad_tres, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :nombre_cuatro, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre_cuatro, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tipo_cuatro, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :tipo_cuatro, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :edad_cuatro, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :edad_cuatro, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :nombre_cinco, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre_cinco, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tipo_cinco, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :tipo_cinco, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :edad_cinco, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :edad_cinco, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :nombre_seis, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre_seis, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tipo_seis, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :tipo_seis, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :edad_seis, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :edad_seis, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :nombre_siete, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre_siete, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tipo_siete, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :tipo_siete, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :edad_siete, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :edad_siete, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :nombre_ocho, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre_ocho, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tipo_ocho, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :tipo_ocho, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :edad_ocho, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :edad_ocho, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :nombre_nueve, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre_nueve, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tipo_nueve, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tipo_nueve, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :edad_nueve, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :edad_nueve, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :nombre_diez, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre_diez, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tipo_diez, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :tipo_diez, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :edad_diez, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :edad_diez, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :posicionamiento_a, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :posicionamiento_a, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :posicionamiento_b, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :posicionamiento_b, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :posicionamiento_c, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :posicionamiento_c, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :posicionamiento_d, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :posicionamiento_d, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :posicionamiento_e, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :posicionamiento_e, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :pregunta_a, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :pregunta_a, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :pregunta_observaciones, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :pregunta_observaciones, :class => 'text_area' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                polls_path, :class => 'btn' %>
  </div>
<% end %>
