<h1>Lista de encuestas</h1>

<table>
  <tr>
    <th>Paterno</th>
    <th>Materno</th>
    <th>Nombre</th>
    <th>Teléfono</th>
    <th>Correo</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @polls.each do |poll| %>
  <tr>
	<td><%= poll.id %></td>
    <td><%= poll.paterno %></td>
    <td><%= poll.materno %></td>
    <td><%= poll.nombre %></td>
    <td><%= poll.telefono %></td>
    <td><%= poll.correo %></td>
    
    <td><%= link_to 'Show', poll %></td>
    <td><%= link_to 'Edit', edit_poll_path(poll) %></td>
    <td><%= link_to 'Destroy', poll, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Poll', new_poll_path %>
