<%- model_class = Poll.new.class -%>
<h1>Lista de Encuestas</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:paterno) %></th>
      <th><%= model_class.human_attribute_name(:materno) %></th>
      <th><%= model_class.human_attribute_name(:nombre) %></th>     
      <th>Creado a las</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @polls.each do |poll| %>
      <tr>
        <td><%= link_to poll.id, edit_poll_path(poll) %></td>
        <td><%= poll.paterno %></td>
        <td><%= poll.materno %></td>
        <td><%= poll.nombre %></td>
        <td><%= poll.telefono %></td>       
        <td>
          <%= link_to "Editar", edit_poll_path(poll), :class => 'btn btn-mini' %>
          <%= link_to "Eliminar",poll_path(poll),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Nuevo",
            new_poll_path,
            :class => 'btn btn-primary' %>
