<%- model_class = @poll.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:paterno) %>:</strong></dt>
  <dd><%= @poll.paterno %></dd>
  <dt><strong><%= model_class.human_attribute_name(:materno) %>:</strong></dt>
  <dd><%= @poll.materno %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nombre) %>:</strong></dt>
  <dd><%= @poll.nombre %></dd>
  <dt><strong><%= model_class.human_attribute_name(:telefono) %>:</strong></dt>
  <dd><%= @poll.telefono %></dd>
  <dt><strong><%= model_class.human_attribute_name(:correo) %>:</strong></dt>
  <dd><%= @poll.correo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:domicilio) %>:</strong></dt>
  <dd><%= @poll.domicilio %></dd>
  <dt><strong><%= model_class.human_attribute_name(:estudio) %>:</strong></dt>
  <dd><%= @poll.estudio %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rol) %>:</strong></dt>
  <dd><%= @poll.rol %></dd>
  <dt><strong><%= model_class.human_attribute_name(:profesion) %>:</strong></dt>
  <dd><%= @poll.profesion %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nombre_uno) %>:</strong></dt>
  <dd><%= @poll.nombre_uno %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tipo_uno) %>:</strong></dt>
  <dd><%= @poll.tipo_uno %></dd>
  <dt><strong><%= model_class.human_attribute_name(:edad_uno) %>:</strong></dt>
  <dd><%= @poll.edad_uno %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nombre_dos) %>:</strong></dt>
  <dd><%= @poll.nombre_dos %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tipo_dos) %>:</strong></dt>
  <dd><%= @poll.tipo_dos %></dd>
  <dt><strong><%= model_class.human_attribute_name(:edad_dos) %>:</strong></dt>
  <dd><%= @poll.edad_dos %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nombre_tres) %>:</strong></dt>
  <dd><%= @poll.nombre_tres %></dd>
  <dt><strong><%= model_class.human_attribute_name(:edad_tres) %>:</strong></dt>
  <dd><%= @poll.edad_tres %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nombre_cuatro) %>:</strong></dt>
  <dd><%= @poll.nombre_cuatro %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tipo_cuatro) %>:</strong></dt>
  <dd><%= @poll.tipo_cuatro %></dd>
  <dt><strong><%= model_class.human_attribute_name(:edad_cuatro) %>:</strong></dt>
  <dd><%= @poll.edad_cuatro %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nombre_cinco) %>:</strong></dt>
  <dd><%= @poll.nombre_cinco %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tipo_cinco) %>:</strong></dt>
  <dd><%= @poll.tipo_cinco %></dd>
  <dt><strong><%= model_class.human_attribute_name(:edad_cinco) %>:</strong></dt>
  <dd><%= @poll.edad_cinco %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nombre_seis) %>:</strong></dt>
  <dd><%= @poll.nombre_seis %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tipo_seis) %>:</strong></dt>
  <dd><%= @poll.tipo_seis %></dd>
  <dt><strong><%= model_class.human_attribute_name(:edad_seis) %>:</strong></dt>
  <dd><%= @poll.edad_seis %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nombre_siete) %>:</strong></dt>
  <dd><%= @poll.nombre_siete %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tipo_siete) %>:</strong></dt>
  <dd><%= @poll.tipo_siete %></dd>
  <dt><strong><%= model_class.human_attribute_name(:edad_siete) %>:</strong></dt>
  <dd><%= @poll.edad_siete %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nombre_ocho) %>:</strong></dt>
  <dd><%= @poll.nombre_ocho %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tipo_ocho) %>:</strong></dt>
  <dd><%= @poll.tipo_ocho %></dd>
  <dt><strong><%= model_class.human_attribute_name(:edad_ocho) %>:</strong></dt>
  <dd><%= @poll.edad_ocho %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nombre_nueve) %>:</strong></dt>
  <dd><%= @poll.nombre_nueve %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tipo_nueve) %>:</strong></dt>
  <dd><%= @poll.tipo_nueve %></dd>
  <dt><strong><%= model_class.human_attribute_name(:edad_nueve) %>:</strong></dt>
  <dd><%= @poll.edad_nueve %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nombre_diez) %>:</strong></dt>
  <dd><%= @poll.nombre_diez %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tipo_diez) %>:</strong></dt>
  <dd><%= @poll.tipo_diez %></dd>
  <dt><strong><%= model_class.human_attribute_name(:edad_diez) %>:</strong></dt>
  <dd><%= @poll.edad_diez %></dd>
  <dt><strong><%= model_class.human_attribute_name(:posicionamiento_a) %>:</strong></dt>
  <dd><%= @poll.posicionamiento_a %></dd>
  <dt><strong><%= model_class.human_attribute_name(:posicionamiento_b) %>:</strong></dt>
  <dd><%= @poll.posicionamiento_b %></dd>
  <dt><strong><%= model_class.human_attribute_name(:posicionamiento_c) %>:</strong></dt>
  <dd><%= @poll.posicionamiento_c %></dd>
  <dt><strong><%= model_class.human_attribute_name(:posicionamiento_d) %>:</strong></dt>
  <dd><%= @poll.posicionamiento_d %></dd>
  <dt><strong><%= model_class.human_attribute_name(:posicionamiento_e) %>:</strong></dt>
  <dd><%= @poll.posicionamiento_e %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pregunta_a) %>:</strong></dt>
  <dd><%= @poll.pregunta_a %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pregunta_observaciones) %>:</strong></dt>
  <dd><%= @poll.pregunta_observaciones %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              polls_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_poll_path(@poll), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              poll_path(@poll),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
