<p id="notice"><%= notice %></p>

<p>
  <b>Paterno:</b>
  <%= @poll.paterno %>
</p>

<p>
  <b>Materno:</b>
  <%= @poll.materno %>
</p>

<p>
  <b>Nombre:</b>
  <%= @poll.nombre %>
</p>

<p>
  <b>Telefono:</b>
  <%= @poll.telefono %>
</p>

<p>
  <b>Correo:</b>
  <%= @poll.correo %>
</p>

<p>
  <b>Domicilio:</b>
  <%= @poll.domicilio %>
</p>

<p>
  <b>Estudio:</b>
  <%= @poll.estudio %>
</p>

<p>
  <b>Rol:</b>
  <%= @poll.rol %>
</p>

<p>
  <b>Profesion:</b>
  <%= @poll.profesion %>
</p>

<p>
  <b>Nombre uno:</b>
  <%= @poll.nombre_uno %>
</p>

<p>
  <b>Tipo uno:</b>
  <%= @poll.tipo_uno %>
</p>

<p>
  <b>Edad uno:</b>
  <%= @poll.edad_uno %>
</p>

<p>
  <b>Nombre dos:</b>
  <%= @poll.nombre_dos %>
</p>

<p>
  <b>Tipo dos:</b>
  <%= @poll.tipo_dos %>
</p>

<p>
  <b>Edad dos:</b>
  <%= @poll.edad_dos %>
</p>

<p>
  <b>Nombre tres:</b>
  <%= @poll.nombre_tres %>
</p>

<p>
  <b>Edad tres:</b>
  <%= @poll.edad_tres %>
</p>

<p>
  <b>Edad tres:</b>
  <%= @poll.edad_tres %>
</p>

<p>
  <b>Nombre cuatro:</b>
  <%= @poll.nombre_cuatro %>
</p>

<p>
  <b>Tipo cuatro:</b>
  <%= @poll.tipo_cuatro %>
</p>

<p>
  <b>Edad cuatro:</b>
  <%= @poll.edad_cuatro %>
</p>

<p>
  <b>Nombre cinco:</b>
  <%= @poll.nombre_cinco %>
</p>

<p>
  <b>Tipo cinco:</b>
  <%= @poll.tipo_cinco %>
</p>

<p>
  <b>Edad cinco:</b>
  <%= @poll.edad_cinco %>
</p>

<p>
  <b>Nombre seis:</b>
  <%= @poll.nombre_seis %>
</p>

<p>
  <b>Tipo seis:</b>
  <%= @poll.tipo_seis %>
</p>

<p>
  <b>Edad seis:</b>
  <%= @poll.edad_seis %>
</p>

<p>
  <b>Nombre siete:</b>
  <%= @poll.nombre_siete %>
</p>

<p>
  <b>Tipo siete:</b>
  <%= @poll.tipo_siete %>
</p>

<p>
  <b>Edad siete:</b>
  <%= @poll.edad_siete %>
</p>

<p>
  <b>Nombre ocho:</b>
  <%= @poll.nombre_ocho %>
</p>

<p>
  <b>Tipo ocho:</b>
  <%= @poll.tipo_ocho %>
</p>

<p>
  <b>Edad ocho:</b>
  <%= @poll.edad_ocho %>
</p>

<p>
  <b>Nombre nueve:</b>
  <%= @poll.nombre_nueve %>
</p>

<p>
  <b>Tipo nueve:</b>
  <%= @poll.tipo_nueve %>
</p>

<p>
  <b>Edad nueve:</b>
  <%= @poll.edad_nueve %>
</p>

<p>
  <b>Nombre diez:</b>
  <%= @poll.nombre_diez %>
</p>

<p>
  <b>Tipo diez:</b>
  <%= @poll.tipo_diez %>
</p>

<p>
  <b>Edad diez:</b>
  <%= @poll.edad_diez %>
</p>

<p>
  <b>Posicionamiento a:</b>
  <%= @poll.posicionamiento_a %>
</p>

<p>
  <b>Posicionamiento b:</b>
  <%= @poll.posicionamiento_b %>
</p>

<p>
  <b>Posicionamiento c:</b>
  <%= @poll.posicionamiento_c %>
</p>

<p>
  <b>Posicionamiento d:</b>
  <%= @poll.posicionamiento_d %>
</p>

<p>
  <b>Posicionamiento e:</b>
  <%= @poll.posicionamiento_e %>
</p>

<p>
  <b>Pregunta a:</b>
  <%= @poll.pregunta_a %>
</p>

<p>
  <b>Pregunta observaciones:</b>
  <%= @poll.pregunta_observaciones %>
</p>


<%= link_to 'Edit', edit_poll_path(@poll) %> |
<%= link_to 'Back', polls_path %>
