<h2>Entrar</h2>

<%= form_for(resource, :as => resource_name, :html => {:class => "well"},:url => session_path(resource_name)) do |f| %>
  <div>Correo Electrónico<br />
  <%= f.email_field :email %></div>

  <div>Contraseña<br />
  <%= f.password_field :password %></div>

  <div><%= f.submit "Entrar" %></div>
<% end %>

<%= render "links" %>