<%- model_class = General.new.class -%>
<h1>Datos Generales</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nombre) %></th>
      <th><%= model_class.human_attribute_name(:paterno) %></th>
      <th><%= model_class.human_attribute_name(:materno) %></th>
    
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @generals.each do |general| %>
      <tr>
        <td><%= link_to general.id, general_path(general) %></td>
        <td><%= general.nombre %></td>
        <td><%= general.paterno %></td>

        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_general_path(general), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      general_path(general),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.Nuevo', :default => t("helpers.links.new")),
            new_general_path,
            :class => 'btn btn-primary' %>
