<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @general.nombre %>
</p>

<p>
  <b>Paterno:</b>
  <%= @general.paterno %>
</p>

<p>
  <b>Materno:</b>
  <%= @general.materno %>
</p>

<p>
  <b>Telefono:</b>
  <%= @general.telefono %>
</p>

<p>
  <b>Tipotel:</b>
  <%= @general.tipotel %>
</p>

<p>
  <b>Email:</b>
  <%= @general.email %>
</p>

<p>
  <b>Domicilio:</b>
  <%= @general.domicilio %>
</p>

<p>
  <b>Colonia:</b>
  <%= @general.colonia %>
</p>

<p>
  <b>Estudios:</b>
  <%= @general.estudios %>
</p>

<p>
  <b>Rolfamiliar:</b>
  <%= @general.rolfamiliar %>
</p>

<p>
  <b>Profesion:</b>
  <%= @general.profesion %>
</p>

<p>
  <b>Id estructura:</b>
  <%= @general.id_estructura %>
</p>

<p>
  <b>Id campaign:</b>
  <%= @general.id_campaign %>
</p>


<%= link_to 'Edit', edit_general_path(@general) %> |
<%= link_to 'Back', generals_path %>
